body {
  margin: 0;
  background-image: linear-gradient(to bottom right, #54617b, #191e28);
  background-repeat: no-repeat;
  margin: 0;
  width: 100%;
  background-attachment: fixed;
  height: 100%;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  background-color: none;
  display: grid;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  text-align: center;
  color: white;
  font-size: 15px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

.input-container {
  display: grid;

  width: 300px;
}

#checkIn {
  width: 300px;
  margin-bottom: 5px;
  border-radius: 6px;
  height: 20px;
}

#checkOut {
  width: 300px;
  margin-bottom: 5px;
  border-radius: 6px;
  height: 20px;
}

.room {
  width: 300px;
  margin-bottom: 5px;
  border-radius: 6px;
  height: 20px;
}

.inputs {
  display: grid;

  margin-bottom: 10px;
  width: 200px;
}

.room {
  width: 300px;
  margin-bottom: 5px;
  border-radius: 6px;
  height: 20px;
}

.input-container-one {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 300px;
}

.input-container-one label {
  margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
  border: 1px solid #3a0303;
  border-radius: 6px;
  padding: 6px;
  font-size: 18px;
  width: 300px;
}

input[type="email"]:hover,
input[type="password"]:hover,
button:hover {
  border-color: #7f6767;
}

input[type="email"]:focus,
input[type="password"]:focus,
button:focus {
  border-color: #333;
  box-shadow: brown;
}

.input-container-two {
  display: grid;
  width: 300px;
}

.title {
  font-size: 16px;
}

button {
  cursor: pointer;
  border-radius: 4px;
  color: rgb(66, 66, 66);
  text-transform: uppercase;
  letter-spacing: 0.2em;
  border: none;
  margin: 5px;
  width: 80px;
  justify-self: center;
}

a:hover {
  color: #333;
}

a {
  color: aquamarine;
  font-size: large;
  text-decoration: none;
}

/* sofia*/
li {
  list-style-type: none;
  margin-bottom: 10px;
}

.icon {
  margin-right: 10px;
}

input {
  border: 1px solid #3a0303;
  margin-bottom: 10px;
  border-radius: 6px;
  padding: 6px;
  width: 300px;
  font-size: 18px;
}

input:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}

h1 {
  margin: 50px;
  font-size: 40px;
}

.form {
  display: grid;
  justify-content: center;
}

.admin-header {
  margin-bottom: 20px;
}

.signout {
  justify-self: right;
  margin-top: 10px;
  width: 100px;
}

.container-user {
  display: grid;
  width: 100%;
}

.signout-header {
  display: grid;
  width: 1300px;
}

.msg-list {
  display: grid;
  justify-content: left;
  font-size: large;
  text-align: left;
}

#inbox-header {
  margin-top: 70px;
  margin-bottom: 30px;
  text-decoration: underline;
  letter-spacing: 0.2em;
}

.user-heading-text {
  margin-bottom: 50px;
  margin-block-start: 0em;
}

.admin-btns {
  justify-self: right;
  width: fit-content;
}

.admin-list {
  margin-bottom: 30px;
}

.list-btn {
  text-transform: none;
  width: fit-content;
}
